.profile {

    height: 100%;
    width: 100%;
    background: url(../../assets/img/bg_map.png) center center/cover no-repeat;

}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 89%;
}
