.dialog {
    width: 600px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}
.dialogTitle {
    font-weight: 700;
    font-size: 30px;
}
.dialogSubtitle {
    font-size: 18px;
    text-align: center;
}
.myLink {
    padding: 5px 50px;
    background-color: #FDBF5A;
    border-radius: 20px;
    font-size: 23px;
    color: #000;
}
